[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
levenshtein = "*"
pinyin = "*"
toml = "*"
flask = "*"
requests = "*"
pyqt6 = "*"
numpy = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pyqt6-tools = "*"
invoke = "*"

[requires]
python_version = "3.11"
