[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
levenshtein = "*"
toml = "*"
numpy = "*"
pyTelegramBotAPI = "*"
sqlalchemy = "*"
mysqlclient = "*"
python-dateutil = "*"
pydub = "*"
speechrecognition = "*"
pocketsphinx = "*"
pypinyin = "*"
expiringdict = "*"
flask = "*"
waitress = "*"
pdoc = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
invoke = "*"
watchdog = "*"
psutil = "*"

[requires]
python_version = "3.11.3"
